@import url(./common/subBar.css);
@import url(./common/navBar.css);

body{
    background-color: #fff;
    background-size: cover;
    background-attachment: fixed;/* 将导航栏固定*/
}

#content{
    position: fixed;
    top: 40px;
    right: 0px;
    bottom: 0px;
    left: 200px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}




